<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <h3>Welcome {{current_user}}</h3>
  <button class="btn btn-warning"><a [routerLink]="['/login']">Logout</a></button>
  <br>
  <h3>Change Password</h3>
  <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="newPassword.password" #password="ngModel"
             required/>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password_confirmation.valid }">
      <label for="password_confirmation">Confirm New Password</label>
      <input type="password" class="form-control" name="password_confirmation" [(ngModel)]="newPassword.password_confirmation"
             #password_confirmation="ngModel" required/>
      <div *ngIf="f.submitted && !password_confirmation.valid" class="help-block">Password confirmation is required
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
