<div class="col-md-6 col-md-offset-3">
  <a *ngFor="let tasklist of tasklists" class="col-1-4">
    <div>
      <h4>{{tasklist.name}}</h4>
    </div>
  </a>

  <!--<form name="form" (ngSubmit)="addTasklist()" #f="ngForm" novalidate>-->
    <!--<div class="form-group">-->
      <!--<label for="name">Name</label>-->
      <!--<input type="name" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel"-->
             <!--required/>-->
      <!--</div>-->
    <!--<div class="form-group">-->
      <!--<button [disabled]="loading" class="btn btn-primary">Add</button>-->
     <!--</div>-->
  <!--</form>-->


  <div>
    <label>Tasklist name:</label> <input #tasklistName />
    <button (click)="addTasklist(tasklistName.value); tasklistName.value=''">
      Add
    </button>
  </div>

  <div>
    <label>Get all tasklist:</label>
    <button (click)="getAll()">
      getAll
    </button>
  </div>

</div>
