<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <label>Tasklist name:</label> <input #tasklistName/>
    <button (click)="addTasklist(tasklistName.value); tasklistName.value=''">
      Add
    </button>
    <br>
    <span> Filter by name:</span>
    <input class="form-control" [(ngModel)]="filterQuery"/>
    <br>
    <table class="table table-bordered table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
      <tr>
        <th style="width: 10%">
          <mfDefaultSorter by="id">#</mfDefaultSorter>
        </th>
        <th style="width: 25%">
          <mfDefaultSorter by="name">List Name</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="user">User</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="share">Share</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="count">Todo count</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="done">No. done</mfDefaultSorter>
        </th>
        <th style="width: 20%" class="text-center">
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.user}}</td>
        <td>{{item.share}}</td>
        <td>{{item.count}}</td>
        <td>{{item.done}}</td>
        <td class="text-center">
          <div class="btn-group">
            <button class="btn btn-xs btn-default" type="button" data-toggle="modal" attr.data-target="#edit{{item.id}}"
                    title="Edit Tasklist"><i
              class="glyphicon glyphicon-pencil"></i></button>
            <button (click)="deleteTasklist(item.id)" class="btn btn-xs btn-default" type="button" data-toggle="modal"
                    data-target="collapse" title="Remove Tasklist"><i
              class="glyphicon glyphicon-remove"></i></button>
            <button class="btn btn-xs btn-default" type="button" data-toggle="modal" attr.data-target="#share{{item.id}}"
                    title="Share Tasklist"><i
              class="glyphicon glyphicon-share-alt"></i></button>
            <button class="btn btn-xs btn-default" type="button" data-toggle="modal" attr.data-target="#open{{item.id}}"
                    title="Open Tasklist"><i
              class="glyphicon glyphicon-indent-left"></i></button>
          </div>
        </td>

        <!-- Modal Edit -->
        <div class="modal fade" attr.id="edit{{item.id}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit tasklist <strong>{{item.name}}</strong></h4>
              </div>
              <div class="modal-body">
                <div>
                  <label>name: </label>
                  <input [(ngModel)]="item.name" placeholder="name" />
                </div>
              </div>
              <div class="modal-footer">
                <button (click)="getTasklists()"
                        type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button (click)="updateTasklist(item.id, item.name)"
                        type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Modal Share -->
        <div class="modal fade" attr.id="share{{item.id}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit tasklist <strong>{{item.name}}</strong></h4>
              </div>
              <div class="modal-body">
               share
              </div>
              <div class="modal-footer">
                <button (click)="getTasklists()"
                        type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button (click)="updateTasklist(item.id, item.name)"
                        type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>



        <!-- Modal Open -->
        <div class="modal fade" attr.id="open{{item.id}}" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detail of tasklist <strong>{{item.name}}</strong></h4>
              </div>
              <div class="modal-body">
                <app-todos [tasklist_id]="item.id"> Loading</app-todos>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>


  </div>
</div>
