<div class="row">
  <div class="col-xs-6">
    <div class="button-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        Share All Actions <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li *ngFor="let user of users" >
          <div (click)="createAuthenTasklist(user.id)">
            {{user.id}}&nbsp;&nbsp;&nbsp;{{user.email}}
          </div>
        </li>
      </ul>
    </div>

    <div *ngFor="let authen_user of authen_users">
      <div (click)="deleteAuthenTasklist(authen_user.user_id)">{{authen_user.user_id}}</div>
    </div>

  </div>

  <div class="col-xs-6">
    <div class="button-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        Share Read Only <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li *ngFor="let user of users"><a href="#" class="small" attr.value="{{user.id}}" tabIndex="-1"><input
          type="checkbox"/>&nbsp;{{user.email}}</a></li>
      </ul>
    </div>
  </div>

</div>
