<div class="row">
  <div class="col-xs-12">

    <div class="button-group" style="display:inline-block">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        Share All Actions <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li *ngFor="let user of users | orderBy: 'email': false" style="cursor:pointer"
            onmouseover="this.style.color='blue'" onmouseout="this.style.color=''"
        >
          <div (click)="createAuthorizedUser(user.id)">
            &nbsp;{{user.email}}&nbsp;
          </div>
        </li>
      </ul>
    </div>

    <div *ngFor="let authen_user of authorizedUsers | orderBy: 'is_write': true" style="display:inline-block">
      <div>
        <span class="label" style="cursor:pointer"
              [ngClass]="authen_user.is_write == true ? 'label-success' : 'label-default'"
              (click)="updateAuthorizedUser(authen_user.user_id)"
              onmouseover="this.style.backgroundColor='#ddd'"
              onmouseout="this.style.backgroundColor=''">Write
        </span>
        <div (click)="deleteAuthorizedUser(authen_user.user_id)"
             style="display:inline-block; cursor:pointer" onmouseover="this.style.color='#ddd'"
             onmouseout="this.style.color=''"
             [ngClass]="authen_user.is_write == true ? 'text-primary' : 'text-muted'">&nbsp;{{authen_user.user_email}}
        </div>
        <span>&nbsp;|&nbsp;</span>
      </div>
    </div>
  </div>

</div>
