<div class="modal show" attr.id="open{{tasklistDetail.id}}" role="dialog" *ngIf="tasklistDetail">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail of tasklist <strong>{{tasklistDetail.name}}</strong></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <h3>TODOS</h3>
            <div class="input-group" *ngIf="tasklistDetail.is_write">
              <input type="text" class="form-control" placeholder="Type in a new todo..." [(ngModel)]="newtodo"
                     name="newTodo">
              <span class="input-group-btn">
              <button class="btn btn-default"
                      type="submit" [disabled]="newtodo==='' || !newtodo"
                      (click)="addTodo(newtodo); newtodo=''">Add Todo </button>
              </span>
            </div>

            <div [hidden]="newtodo">
            </div>

            <div [hidden]="!newtodo">
              Typing: {{ newtodo }}
            </div>
            <br>
            <div>
              <div *ngFor="let todo of todos">
                <div *ngIf="!todo.done" style="margin: 1.5%">
                  <button class="btn btn-info btn-xs"
                          (click)="doneTodo(todo.id)"
                          [disabled]="!tasklistDetail.is_write">Done
                  </button>
                  <span>&nbsp;{{ todo.name }}</span>
                </div>
              </div>
            </div>
            <br>
            <div>
              <button (click)="doneAllTodos()" class="btn btn-primary btn-sm"
                      [disabled]="!tasklistDetail.is_write || tasklistDetail.count < 1">Mark all as Done
              </button>
            </div>
          </div><!-- /.col-lg-6 -->
          <!--<hr class="hidden-sm-up">-->
          <div class="col-sm-6">
            <h3>DONE</h3>
            <div>
              <div *ngFor="let todo of todos">
                <div *ngIf="todo.done" style="margin: 1.5%">
                  <button class="btn btn-warning btn-xs"
                          (click)="deleteDone(todo.id)"
                          [disabled]="!tasklistDetail.is_write">Delete
                  </button>
                  <span>&nbsp;{{todo.name}}</span>
                </div>
              </div>
            </div>
            <br>
            <div>
              <button (click)="deleteAllDones()" class="btn btn-danger btn-sm"
                      [disabled]="!tasklistDetail.is_write || tasklistDetail.done < 1">Delete all Done
              </button>
            </div>

          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>
